.version.about_us /* version checker */
{
	color: #0000F7;
	background-color: #32F688;
}

.html
{
	background-color: #F5F1EE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 650px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;
}

#u135
{
	z-index: 35;
	min-height: 120px;
	padding-bottom: 16px;
}

#u135_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u148
{
	z-index: 36;
	width: 260px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 100px;
}

#menuu304
{
	z-index: 38;
	width: 446px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 565px;
}

#u315
{
	width: 110px;
	padding-bottom: 14px;
}

#u315:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u315:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u316-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u315:hover #u316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u315:active #u316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u327
{
	width: 110px;
	padding-bottom: 14px;
}

#u315.MuseMenuActive,#u327:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u327:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u330-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u315.MuseMenuActive #u316-4,#u327:hover #u330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u327:active #u330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u308
{
	width: 110px;
	padding-bottom: 14px;
}

#u327.MuseMenuActive,#u308:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u308:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u311-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u327.MuseMenuActive #u330-4,#u308:hover #u311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u308:active #u311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u322
{
	width: 110px;
	padding-bottom: 14px;
}

#u308.MuseMenuActive,#u322:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u322:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u325-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u308.MuseMenuActive #u311-4,#u322:hover #u325-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u322:active #u325-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u135-bw
{
	z-index: 35;
	min-height: 120px;
}

#u463-4
{
	z-index: 63;
	width: 916px;
	min-height: 85px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 30px;
	position: relative;
}

#u464-4
{
	z-index: 67;
	width: 916px;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	margin-left: 22px;
	margin-top: 9px;
	position: relative;
}

#u466
{
	z-index: 77;
	width: 916px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 24px;
	position: relative;
}

#u468
{
	z-index: 78;
	width: 916px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u470
{
	z-index: 80;
	width: 403px;
	height: 50px;
	border-style: solid;
	border-color: #8A4810;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 2px 0px 0px;
}

#u469
{
	z-index: 79;
	width: 405px;
	height: 50px;
	border-style: solid;
	border-color: #8A4810;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
	border-width: 2px 0px 0px;
}

#u467-4
{
	z-index: 81;
	width: 155px;
	min-height: 45px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 4px;
	color: #8A4810;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 3px;
	text-align: center;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 381px;
}

#u465-6
{
	z-index: 71;
	width: 914px;
	min-height: 321px;
	background-color: transparent;
	margin-left: 23px;
	margin-top: 25px;
	position: relative;
}

#u465-4
{
	padding-bottom: 0px;
}

#u111
{
	z-index: 2;
	min-height: 221px;
}

#u111_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 76px;
	padding-bottom: 52px;
}

#pu132
{
	width: 0.01px;
	left: 122px;
	position: relative;
}

#u132
{
	z-index: 8;
	width: 361px;
	height: 9px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u112
{
	z-index: 3;
	width: 180px;
	padding-bottom: 8px;
	margin-right: -10000px;
	left: 368px;
}

#u112:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u112:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u128-4
{
	z-index: 4;
	width: 133px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#u134
{
	z-index: 9;
	width: 361px;
	height: 9px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 554px;
}

#menuu158
{
	z-index: 10;
	width: 446px;
	left: 357px;
	margin-top: 25px;
}

#u312,#u159
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
}

#u160
{
	width: 110px;
	padding-bottom: 14px;
}

#u322.MuseMenuActive,#u160:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u160:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u163-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u322.MuseMenuActive #u325-4,#u160:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u160:active #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u326,#u166
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 112px;
}

#u169
{
	width: 110px;
	padding-bottom: 14px;
}

#u160.MuseMenuActive,#u169:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u169:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u160.MuseMenuActive #u163-4,#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u169:active #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u305,#u173
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 224px;
}

#u176
{
	width: 110px;
	padding-bottom: 14px;
}

#u169.MuseMenuActive,#u176:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u176:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u169.MuseMenuActive #u170-4,#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u176:active #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u319,#u180
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 336px;
}

#u181
{
	width: 110px;
	padding-bottom: 14px;
}

#u176.MuseMenuActive,#u181:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u181:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u181.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u182-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u176.MuseMenuActive #u178-4,#u181:hover #u182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u181:active #u182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u181.MuseMenuActive #u182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u111-bw
{
	z-index: 2;
	min-height: 221px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

