.heading,.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u128-4,#u163-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u170-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u178-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u182-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u368-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u350-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u361-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u344-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u381-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

