.heading,.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u128-4,#u163-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u170-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u178-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u182-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u316-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u330-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u311-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u325-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u439-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u448-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u455-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu445.frm-sub-st #u451-4 p,#widgetu445.frm-subm-err-st #u446-4 p,#widgetu445.frm-subm-ok-st #u461-4 p
{
	font-family: gentium-book-basic-i7, sans-serif;
}

#u457-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu447_input,#widgetu447_prompt,#widgetu452_input,#widgetu452_prompt,#widgetu456_input,#widgetu456_prompt
{
	font-family: gentium-book-basic, sans-serif;
}

